.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1952px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1914px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 40px 0 0 197px;
}

.u-section-1 .u-text-2 {
  width: 451px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  width: 451px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-4 {
  width: 451px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 99px 0 98px;
}

.u-section-1 .u-text-6 {
  margin: 20px 98px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 19px 99px 0 98px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 2176px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/Me.jfif");
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  min-height: 546px;
  background-position: 50% 50%;
  width: 489px;
  margin: 62px -19px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 475px;
  background-image: url("images/Running2.jpg");
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  min-height: 406px;
  background-position: 61.52% 0%;
  margin: 585px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 475px;
  background-image: url("images/Group.jpg");
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  min-height: 406px;
  background-position: 63.96% 26.15%;
  background-size: auto 325%;
  margin: -811px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 304px;
  height: 211px;
  margin: -142px auto 0 85px;
}

.u-section-1 .u-group-4 {
  min-height: 115px;
  background-image: none;
  width: 451px;
  margin: 320px -12px 0 12px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  background-image: none;
  margin: 2px -15px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -384px;
    margin-right: 6px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 989px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-5 {
    width: 451px;
    margin-left: 15px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-6 {
    width: 451px;
    margin-left: 15px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-7 {
    width: 451px;
    margin-left: 15px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 2417px;
  }

  .u-section-1 .u-image-1 {
    width: 415px;
    background-size: auto 325%;
    margin-top: -406px;
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-1 .u-image-2 {
    width: 415px;
    background-size: auto 325%;
    margin-top: -1103px;
    margin-left: 35px;
  }

  .u-section-1 .u-image-3 {
    width: 415px;
    margin-top: -443px;
    margin-left: 35px;
  }

  .u-section-1 .u-image-4 {
    height: 174px;
    margin-top: -248px;
    margin-left: 74px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 410px;
    width: 416px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 295px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 238px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 442px;
    width: 364px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: 364px;
    margin-top: 250px;
  }

  .u-section-1 .u-text-4 {
    width: 364px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 364px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: 364px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: 364px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 2927px;
  }

  .u-section-1 .u-image-1 {
    width: 278px;
    margin-top: -434px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 278px;
    margin-top: 197px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 278px;
    margin-top: -915px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -632px;
    margin-left: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -65px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 498px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 194px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-1 .u-image-1 {
    width: 446px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 446px;
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 446px;
    margin-top: -815px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -624px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -31px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 442px;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 263px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 958px;
  }

  .u-section-1 .u-image-1 {
    width: 274px;
  }

  .u-section-1 .u-image-2 {
    width: 274px;
    margin-top: 1063px;
  }

  .u-section-1 .u-image-3 {
    width: 274px;
    margin-top: -1350px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -600px;
  }
}