.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 335px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 308px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  width: 121px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 451px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 969px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2928px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 2928px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  text-decoration: underline !important;
  margin: 0 107px;
}

.u-section-2 .u-text-2 {
  width: 657px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 89px 734px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 280px 0 0;
}

.u-section-2 .u-btn-1 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  min-height: 220px;
  background-image: url("images/Salary.PNG");
  height: auto;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 10px 425px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 107px 725px 0 9px;
}

.u-section-2 .u-text-7 {
  margin: 20px 405px 0 9px;
}

.u-section-2 .u-btn-3 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 635px 0 9px;
}

.u-section-2 .u-text-9 {
  margin: 20px 405px 0 9px;
}

.u-section-2 .u-btn-5 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-text-10 {
  margin: 89px 716px 0 9px;
}

.u-section-2 .u-text-11 {
  margin: 21px 635px 0 9px;
}

.u-section-2 .u-text-12 {
  margin: -7px 425px 0 9px;
}

.u-section-2 .u-btn-6 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-text-13 {
  margin: 17px 425px 0 9px;
}

.u-section-2 .u-text-14 {
  margin: 89px 644px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 10px 425px 0 9px;
}

.u-section-2 .u-text-16 {
  background-image: none;
  margin: 20px 425px 0 9px;
}

.u-section-2 .u-text-17 {
  width: 657px;
  margin: 65px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 2414px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 57px;
    margin-left: 57px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -714px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 825px;
    margin-right: 534px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 80px;
  }

  .u-section-2 .u-image-1 {
    width: 800px;
    min-height: 250px;
    margin-top: -28px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 224px;
    width: 666px;
    height: 625px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 95px;
    margin-right: 534px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 2px;
    margin-right: 214px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 444px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -422px;
    margin-right: 214px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 95px;
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 0;
    margin-right: 444px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 656px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: -24px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: -1049px;
    margin-right: 444px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 233px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -739px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 850px;
    margin-right: 314px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 670px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 4px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 314px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 224px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 224px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -149px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -269px;
    margin-right: 224px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -657px;
    width: 520px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 768px;
    margin-right: 164px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    width: 520px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 52px;
    margin-right: 164px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 74px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 155px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 74px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -199px;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 74px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 344px;
    width: 320px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -233px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    margin-top: 50px;
  }

  .u-section-2 .u-text-5 {
    width: 320px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -493px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: -475px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 228px;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    width: 320px;
  }
}