 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 952px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 206px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 484px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  width: 315px;
  margin: 0 413px;
}

.u-section-1 .u-text-2 {
  width: 481px;
  margin: 77px auto 0;
}

.u-section-1 .u-btn-1 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  width: 571px;
  margin: 16px auto 0;
}

.u-section-1 .u-image-1 {
  width: 104px;
  height: 104px;
  margin: 80px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 313px;
    margin-right: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 203px;
    margin-right: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 113px;
    margin-right: 113px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}