.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 205px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  width: 315px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-2 {
  width: 481px;
  margin: 77px auto 0;
}

.u-section-1 .u-btn-1 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  width: 571px;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 16px;
    margin-right: 16px;
    width: 451px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 249px;
    margin-right: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: auto;
    margin-right: auto;
    width: 364px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 139px;
    margin-right: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}