 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1208px;
}

.u-section-1 .u-image-1 {
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  min-height: 382px;
  background-image: url("images/warLocks3.png");
  background-position: 50% 50%;
  height: auto;
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 507px;
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  min-height: 443px;
  height: auto;
  margin: 215px auto 0 8px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 2px;
}

.u-section-1 .u-image-2 {
  height: 408px;
  margin-top: -30px;
  margin-bottom: 0;
  object-position: 100% 100%;
}

.u-section-1 .u-image-3 {
  width: 621px;
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  min-height: 337px;
  height: auto;
  background-image: url("images/perspective.png");
  background-position: 0% 50%;
  margin: -658px -249px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 21px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1208px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 154px -3px 0 4px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 15px 0 0 8px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 28px auto 0 4px;
  padding: 11px 43px 12px 42px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  margin: -52px 36px 0 auto;
  padding: 11px 43px 12px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1385px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -380px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 415px;
    min-height: 382px;
    margin-top: 128px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 264px;
    margin-top: -621px;
  }

  .u-section-1 .u-image-3 {
    width: 415px;
    margin-top: -1491px;
    margin-right: auto;
    margin-left: 35px;
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1116px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1313px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1741px;
  }

  .u-section-1 .u-group-2 {
    width: 278px;
    margin-top: 339px;
  }

  .u-section-1 .u-image-2 {
    height: 199px;
    margin-top: -494px;
  }

  .u-section-1 .u-image-3 {
    width: 278px;
    margin-top: -1913px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1426px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1921px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 446px;
    margin-top: 406px;
  }

  .u-section-1 .u-image-2 {
    height: 373px;
    margin-top: -690px;
  }

  .u-section-1 .u-image-3 {
    width: 446px;
    margin-top: -2047px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -52px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1421px;
  }

  .u-section-1 .u-group-2 {
    width: 274px;
    margin-top: 244px;
  }

  .u-section-1 .u-image-2 {
    height: 348px;
    margin-top: -425px;
  }

  .u-section-1 .u-image-3 {
    width: 274px;
    margin-top: -1723px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}